/* -----------------------------------------
 PLACEHOLDER
----------------------------------------- */
input[placeholder] {
  text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

*::-webkit-input-placeholder {
  color: #AEABAB;
  transition: color 0.4s ease-in-out;
}

*:-moz-placeholder {
  color: #AEABAB;
  transition: color 0.4s ease-in-out;
}

*::-moz-placeholder {
  color: #AEABAB;
  transition: color 0.4s ease-in-out;
}

*:-ms-input-placeholder {
  color: #AEABAB;
  transition: color 0.4s ease-in-out;
}

*::-ms-input-placeholder {
  color: #AEABAB;
  transition: color 0.4s ease-in-out;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  box-shadow: 0 0 4px #648880;
}

/* -----------------------------------------
 GLOBAL
----------------------------------------- */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #663d97;
  background-image: url(../img/body-bg-gold-dots.png),
                    url(../img/body-bg-blue-dots.png),
                    linear-gradient(to right, #663d97 0%, #ac71af 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.registration form,
.registration fieldset,
.registration button,
.registration input,
.registration select,
.registration textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* -----------------------------------------
 REGISTRATION
----------------------------------------- */
.registration {
  max-width: 430px;
  margin: 20px auto;
  padding: 40px 40px 27px 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  color: #648883;
}

.registration input,
.registration select,
.registration textarea {
  display: block;
  width: 100%;
  margin: 10px 0 36px;
  padding: 5px 8px;
  border: 1px solid #C6C9CC;
  border-radius: 5px;
}

.registration select {
  max-width: 74px;
  height: 42px;
}

.registration textarea {
  max-width: 350px;
  height: 100%;
  max-height: 97px;
  resize: none;
  overflow: auto;
}

.registration button {
  width: 100%;
  max-width: 170px;
  height: 55px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #648880;
  color: #FFF;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.registration button:hover {
  font-weight: 700;
  box-shadow: 0 0 0 2px currentColor, 
              0 3px #999;
  background-color: #fff;
  color: #648880;
}

.registration button:active {
  box-shadow: 0 0 0 2px currentColor,
              0 0 #999;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  background-color: #fff;
}